# Dependencies
node_modules/
package-lock.json
yarn.lock

# Logs
*.log
logs/
npm-debug.log*

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# IDE
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Build
dist/
build/

# Env
.env
.env.local
.env.*.local
